@import '../../../pages/Common/colors.scss';

.bgPrimary {
    background-color: $secondary-color !important;
}

.card{
    margin-bottom: 10px;
}

.cardbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 40%;
        height: auto;
        flex: 1;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    span {
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        color:#4f5c29;
    }
}
