@import "../../styles/helpers";
@import "../../pages/Common/colors.scss";
.footer {
  align-items: center;
  justify-content: center;
  color: $base-dark-gray;
  font-size: $font-size-sm;
}

.footerLabel {
  margin-right: 4px;
}

.colorPrimary {
   background-color: $primary-color;
}
